<div class="container">
  <form method="POST" action="/register">
    <div class="field">
      <input class="input" type="text" name="name" id="name" placeholder="Name">
    </div>
    <div class="field">
      <input class="input" type="text" name="email" id="email" placeholder="Email">
    </div>
    <div class="field">
      <input class="input" type="password" name="password" id="password" placeholder="Password">
    </div>
    <div class="field">
      <input class="input" type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation">
    </div>
    <button class="button is-primary">Register</button>
  </form>
</div>
